{#
Inspired by /group/snippets/group_list.html

Display a grid of linked data items.

data_links - A list of linked data.
id - dataset's id

Example:

    {% snippet "facet_scheming/linked_data/snippets/linked_data_list.html", data_links=data_links, id=id %}

#}
{% block linked_data_list %}
<ul class="media-grid" data-module="media-grid">
  {% block linked_data_list_inner %}
  {% for data_link in data_links %}
    {% snippet "facet_scheming/linked_data/snippets/linked_data_item.html", data_link=data_link, id=id, position=loop.index %}
    {{ link }}
  {% endfor %}
  {% endblock %}
</ul>
{% endblock %}